version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: app-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - app_postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: app-redis
    environment:
      REDIS_DB: ${REDIS_DB}
    volumes:
      - app_redis_data:/var/lib/redis/data
    ports:
      - "6380:6379"
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    networks:
      - app-network

volumes:
  app_postgres_data:
    name: app_postgres_data
  app_redis_data:
    name: app_redis_data

networks:
  app-network:
    driver: bridge
